<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
</head>
<body>
    <div id="app">
        <h6>原本是：'{{ message }}'</h6>
        <h5>翻转后是:"{{ reverseMsg }}"</h5>
        <div class="23" v-html="rawHtml"></div>
        <a :href="ahref" target="_blank">百度</a>
        <div class="hid" v-if="seen">是否能看见我</div>
        <p>填写所要的件数：</p>
        <input type="text" v-model="goodsNum" :placeholder="plh" >
        <span :class="redObj" v-if="isSeen">{{ tips }}</span>
        <div v-if="Math.random() > 0.5">now you see me</div>
        <span v-else>now you don't</span>
        <template v-if="5>3">
            <h3>haha</h3>
        </template>
    </div>

<script src="js/vue.js" type="text/javascript"></script>
<script>
    document.write('<link rel="stylesheet" href="css/style.css?now="'+Date.parse(new Date())+' type="text/css">')
    document.write('<script src="js/script.js?now="'+new Date().valueOf()+' type="text/javascript" charset="utf-8"><\/script>')
</script>
</body>
</html>