<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
</head>
<body>
    <div id="app">
        <h6>原本是：'{{ message }}'</h6>
        <h5>翻转后是:"{{ reverseMsg }}"</h5>
        <div class="23" v-html="rawHtml"></div>
        <a :href="ahref" target="_blank">百度</a>
        <div class="hid" v-if="seen">是否能看见我</div>
        <p>填写所要的件数：</p>
        <input type="text" v-model="goodsNum" :placeholder="plh" >
        <span :class="redObj" v-if="isSeen">{{ tips }}</span>
        <div v-if="Math.random() > 0.5">now you see me</div>
        <span v-else>now you don't</span>
        <template v-if="5>3">
            <h3>haha</h3>
        </template>

        <ul>
            <li v-for="(val,index) in items" :key="val.id">索引{{ index}} - {{ val.text }}</li>
        </ul>

        <input type="text" @keyup.enter="addNew" placeholder="edit" v-model="inputText">
        <ul>
            <licom v-for="val in todoList1" :key="val.id" :titlex="val" @remove="todoList1.splice(index,1)"></licom>
        </ul>

        <button @click="sayhi('haha')">say hi</button>

        <input type="checkbox" v-model="checke" :true-value="aaaa" :false-value="bbbb">
        <span>checked:{{ checke }}</span>

        <input type="checkbox"  value="jiamei" v-model="mcheck">
        <span>加没</span>
        <input type="checkbox" value="fenbu" v-model="mcheck">
        <span>粉不</span>
        <span>选择的是：{{ mcheck }}</span>

        <input type="radio" value="nan"  v-model="radioh">
        <span>男</span>
        <input type="radio" value="lv" v-model="radioh">
        <span>女</span>
        <p>选择的是：{{ radioh }}</p>

        <select v-model="sele">
            <option>第一</option>
            <option>第2</option>
        </select>
        <p>{{ sele }}</p>

        <input type="text" placeholder="lazy测试" v-model="lazytest">
        <p>LAZY显示：{{ lazytest }}</p>

        <h1>组件</h1>
        <div class="compo">
            <my-com></my-com>
            <my-com></my-com>
        </div>

        <xy-com mess="hello"></xy-com>

        <input type="text" placeholder="edit" v-model="xycominput">
        <xy-com1 :mess="xycominput"></xy-com1>

        <h2>父子组件事件传递</h2>
        <div class="outer">
            <p>{{ total }}</p>
            <son-com v-on:incre-out="incre"></son-com>
            <son-com v-on:incre-out="incre"></son-com>
            <button @click.native="dothis">原生提交</button>
        </div>

        <input-com v-model="price"></input-com>

        <h2>插槽</h2>
        <div class="fucom">
            <h1>我是父组件</h1>
            <zipro>
            </zipro>
        </div>

        <button @click="show = !show">点击</button>
        <transition name="slide-fade">
            <p v-if="show">虎虎</p>
        </transition>
        <transition name="bounce1">
            <h3 v-if="show">弹跳</h3>
        </transition>
    </div>
<script src="js/vue.js" type="text/javascript"></script>
<script>
    document.write('<link rel="stylesheet" href="css/style.css?now="'+Date.parse(new Date())+' type="text/css">')
    document.write('<script src="js/script.js?now="'+new Date().valueOf()+' type="text/javascript" charset="utf-8"><\/script>')
</script>
</body>
</html>